*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
.loader{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.message{
    font-size: calc(1vw + 10px);
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.spinner-4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #ffa50097;
    position: relative;
    animation: s4 1s infinite linear;
  }
  .spinner-4:before,
  .spinner-4:after {
    content: "";
    position: absolute;
    inset:-8px;
    border-radius: 50%;
    border:inherit;
    animation:inherit;
    animation-duration: 2s;
  }
  .spinner-4:after {
    animation-duration: 4s;
  }
  
  @keyframes s4 {
    100% {transform: rotate(1turn)}
  }
  
  
/*Nav bar*/
.navbar{
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to right, #516091,#05806f);
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}
.navbar p{
    position: absolute;
    left: 10px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size:calc(2vw + 15px);
    opacity: 0;
    transition: 0.5s;

}
.icon{
    float: right;
    right: 0%;
    padding: 10px;
}
.material-icons{
    color: white;
    font-size: 35px;
}
.material-icons:hover{
    cursor: pointer;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
    display: flex;
    justify-content: center;
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 50%; 
    text-align: center; 
    margin-top: 30px; 
    
  }
  
  /* The navigation links inside the overlay */
  .overlay button {
    padding: 8px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    font-size: 36px;
    color: #ffffff;
    display: block; 
    transition: 0.5s; 
  }
  
  .overlay button:hover, .overlay button:focus {
    color: black;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay button {font-size: 20px;
    width: 70%;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  /*header*/
.header{
    width: 100%;
    background-image: linear-gradient(to right, #516091,#05806f);
    height: 500px;
    padding: 50px;
    display: flex;
    position: relative;
    top: 20px;
}
.left{
    color: #EEF3AD;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: calc(7vw + 40px);
    width: 50%;
    position: relative;
}
.left span{
    color:white;
}
.right{
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: rigthanimation linear 3s infinite;
}
@keyframes rigthanimation {
    0%{transform: translateY(0%);}
    25%{transform: translateY(-5%);}
    50%{transform: translateY(0%);}
    75%{transform: translateY(5%);}
    100%{transform: translateY(0%);}

}
.right{
    background-image: url("img/main1.png");
}

/*.right::after, .right::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
.right::before{
    
    
}*/

/* containers*/
.container{
    
    height:  400px;
    margin-top: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat ; 
    transition: all 0.5s;  
}
.container::after{
    content: "";
    background-color: black;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0%;
    opacity: 0.2;
    transition: all 1s ease-in-out;
   
}
.container_text{
    z-index: 1;
    color: white;
    text-align: center;
}
.title{
    font-family: 'Playfair Display', serif;
    font-size: calc(4vw + 40px);
}
.header .title{
    font-size: calc(7vw + 40px);
    display: inline-block;
}

.subtitle{
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vw;
    opacity: 0;
}
.header .subtitle{
    font-size: calc(2vw + 20px);
    opacity: 1;


}
.container:hover{
    box-shadow: 10px 10px 10px lightslategray;
}
.container:hover .subtitle{
    opacity: 1;
}
.container:hover::after{
    opacity: 0.5;
    width: 100%;
}
.btn{
    color: white;
    font-size: 20px;
    border: 1px solid white;
}
.thick-2 {
    background: 
       linear-gradient(rgb(255, 255, 255) 0 0) 
       50% calc(-3px - 100%) /var(--d, 0%) 200% no-repeat;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  .thick-2:hover {
    --d: 100%;
    background-position: 50% 0%;
    color: rgb(0, 0, 0);
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }
/* individual containers*/
.about{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    border: none;
    background-image: url("img/Health _Isometric.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}
.about .container_text{
    color: black;
    width: 80%;
}
.about .subtitle{
    font-size: calc(2vw + 30px);
    opacity: 1;
}
.medicine{
    background-image: url("img/medicine.jpg");
}
.balance{
    background-image: url("img/balance.jpg");
}
.symptoms{
    background-image: url("img/symptoms.jpg");
}
.consult{
    background-image: url("img/consult.jpg");
}
.exercise{
    background-image: url("img/exercise.jpg");
}
.wellness{
    background-image: url("img/wellness.jpg");
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-image: url("img/404.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 20px;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 600px;
  }
  .modal-content .title{
      font-size:  calc(4vw + 40px);
  }
  .modal-content .subtitle{
      opacity: 1;
      font-size: (2vw + 50px);
  }
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.contact{
    width: 100%;
    background-image: linear-gradient(to right, #516091,#05806f);
    font-family: 'Playfair Display', serif;
    font-size: calc(4vw + 40px);
    color: white;
    text-align: center;
    margin-top: 50px;
}
.contact .subtitle{
    opacity: 1;
    font-size: calc(2vw + 10px);
}
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-bottom: 30px;
  }
.fa:hover {
    opacity: 0.7;
    color: white;
}

.fa-instagram {
  background: #f03d10;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}




@media screen and (max-width:700px ){
    .header{
        display:block;
        height: 700px;
    }
    .right, .left{
        height: 50%;
        width: 100%;
}
}
@media screen and (max-width:600px ){
    .container{
        width: 90%;
    }
}